h1 {
  color: blue;
}

html,body{
  height:100%
}

body {
  color:black;
  background-color:white;
  background-image:url(background.png);
  background-repeat:no-repeat;
  background-position:center center;
}